# Reducing the effect of Urbanization using AI/ML

### Team Members: Amal Salilan, Dhamotharan S, Sakthi, and Sangesh

import pandas as pd 
import numpy as np 
import scipy as sp 

import math 
import sklearn.preprocessing as prep 
import matplotlib.pyplot as plt 
 
from matplotlib.pylab import rcParams

In [21]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler 
from sklearn.ensemble import RandomForestRegressor 
from sklearn.metrics import r2_score,mean_squared_error

In [22]:
df = pd.read_csv('Dataset.csv')

In [23]:
df

,Index,Area,OE,COb,Area_left,considerble trees,considerable plants,Neem,Ash,Willow,Poplar,Ashok,Arjuna,Areca_palm,Weeping_fig,Grebera_Daisy,Aloe_vera,Tulsi,Pothos_plant
0,1,3760,63038,4389,470,52,26,3,1,1,1,0,1,6,4,4,3,7,5
1,2,4310,72482,5019,539,60,30,3,1,1,1,0,1,6,4,4,3,7,6
2,3,5773,96918,6741,722,80,40,3,1,1,1,0,1,6,5,3,4,8,7
3,4,4384,73692,5103,548,61,30,3,1,1,2,2,1,7,7,8,5,13,6
4,5,7249,121723,8463,906,101,50,4,2,2,3,2,2,9,5,3,4,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,5146,86515,6006,643,72,36,2,0,0,1,0,0,2,0,7,7,5,6
496,497,7517,126327,8757,940,104,52,4,1,1,4,1,1,9,8,9,7,15,8
497,498,7269,122210,8484,909,101,50,4,1,2,3,1,1,4,9,7,8,5,5
498,499,4637,77927,5397,580,64,32,3,1,1,2,1,0,5,6,5,5,6,8
499,500,2000,33762,2331,250,28,14,2,0,0,3,0,0,5,4,3,3,2,4

In [24]:
#Thresholds 200, 
thresholds = [200,300,400,500,600,700,800,900]
Neem = []
Ash = []
Willow = []
Poplar = []
Ashok = []
Arjuna = []
Areca_palm = []
Weeping_fig = []
Grebera_Daisy = []
Aloe_vera = []
Tulsi = []
#Pothos_plant = []

In [25]:
for i in df['Area_left']:
    if i > 199 and i < 300:
        Neem.append(2)
        Ash.append(0)
        Willow.append(0)
        Poplar.append(1)
        Ashok.append(0)
        Arjuna.append(0)
        Areca_palm.append(2)
        Weeping_fig.append(2)
        Grebera_Daisy.append(3)
        Aloe_vera.append(3)
        Tulsi.append(3)
        #Pothos_plant.append(2)
    elif i > 300 and i < 400: 
        Neem.append(3)
        Ash.append(1)
        Willow.append(0)
        Poplar.append(1)
        Ashok.append(0)
        Arjuna.append(1)
        Areca_palm.append(3)
        Weeping_fig.append(2)
        Grebera_Daisy.append(2)
        Aloe_vera.append(2)
        Tulsi.append(5)
        #Pothos_plant.append(5)
    elif i > 400 and i < 500: 
        Neem.append(3)
        Ash.append(1)
        Willow.append(1)
        Poplar.append(1)
        Ashok.append(0)
        Arjuna.append(1)
        Areca_palm.append(6)
        Weeping_fig.append(4)
        Grebera_Daisy.append(4)
        Aloe_vera.append(3)
        Tulsi.append(7)
        #Pothos_plant.append(5)
    elif i > 500 and i < 600: 
        Neem.append(3)
        Ash.append(1)
        Willow.append(1)
        Poplar.append(2)
        Ashok.append(2)
        Arjuna.append(1)
        Areca_palm.append(7)
        Weeping_fig.append(5)
        Grebera_Daisy.append(3)
        Aloe_vera.append(4)
        Tulsi.append(8)
        #Pothos_plant.append(6)
    elif i > 600 and i < 700: 
        Neem.append(4)
        Ash.append(1)
        Willow.append(1)
        Poplar.append(3)
        Ashok.append(1)
        Arjuna.append(2)
        Areca_palm.append(6)
        Weeping_fig.append(6)
        Grebera_Daisy.append(6)
        Aloe_vera.append(3)
        Tulsi.append(10)
        #Pothos_plant.append(6)
    elif i > 700 and i < 800: 
        Neem.append(4)
        Ash.append(2)
        Willow.append(2)
        Poplar.append(3)
        Ashok.append(2)
        Arjuna.append(2)
        Areca_palm.append(9)
        Weeping_fig.append(7)
        Grebera_Daisy.append(8)
        Aloe_vera.append(5)
        Tulsi.append(13)
        #Pothos_plant.append(7)
    elif i > 800 and i < 900: 
        Neem.append(5)
        Ash.append(2) 
        Willow.append(2)
        Poplar.append(4)
        Ashok.append(2)
        Arjuna.append(3)
        Areca_palm.append(10)
        Weeping_fig.append(9)
        Grebera_Daisy.append(12)
        Aloe_vera.append(10)
        Tulsi.append(15)
        #Pothos_plant.append(8)
    elif i > 900: 
        Neem.append(4)
        Ash.append(3)
        Willow.append(2)
        Poplar.append(4)
        Ashok.append(2)
        Arjuna.append(3)
        Areca_palm.append(10)
        Weeping_fig.append(13)
        Grebera_Daisy.append(8)
        Aloe_vera.append(8)
        Tulsi.append(19)
        #Pothos_plant.append(9)

In [26]:
dict_df = {
    "Neem":Neem,
    "Ash":Ash ,
    "Willow":Willow ,
    "Poplar":Poplar ,
    "Ashok":Ashok ,
    "Arjuna":Arjuna, 
    "Areca_palm":Areca_palm , 
    "Weeping_fig":Weeping_fig, 
    "Grebera_Daisy":Grebera_Daisy, 
    "Aloe_vera":Aloe_vera ,
    "Tulsi":Tulsi ,

}

In [27]:
for key,value in dict_df.items(): 
    print(key,"-->",len(value))

Neem --> 494
Ash --> 494
Willow --> 494
Poplar --> 494
Ashok --> 494
Arjuna --> 494
Areca_palm --> 494
Weeping_fig --> 494
Grebera_Daisy --> 494
Aloe_vera --> 494
Tulsi --> 494

In [29]:
df2 = pd.DataFrame(dict_df)

In [30]:
df2.to_csv("QML-outputvaribales_dataset.csv")

Trees 	Area Occ	  Plants	        Area Occ
Neem 	 80	        Areca palm 	          30
Ash 	 150	    Weeping fig 	      30
Willow 	 250	    Grebera Daisy 	      20
Poplar 	 70	        Aloe vera 	          20
Ashok 	 225	    Tulsi 	              30
Arjuna 	 150	    Pothos plant 	      30

In [33]:
x1 = df[['Area','OE','COb','Area_left','considerble trees','considerable plants']].values 
y1 = df[['Neem','Ash','Willow','Poplar','Ashok','Arjuna','Areca_palm','Weeping_fig','Grebera_Daisy'
          ,'Aloe_vera','Tulsi','Pothos_plant']].values

In [34]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(x1,y1,test_size=0.2)

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
ln = LinearRegression()

In [37]:
ln.fit(train_x,train_y)

LinearRegression()

In [38]:
a = ln.predict(test_x)

In [39]:
a

array([[ 3.42798018,  1.29013398,  1.09796925, ...,  5.96822604,
        11.43791041,  6.9407071 ],
       [ 3.4578583 ,  1.44147174,  1.13857709, ...,  5.33610219,
         9.93170651,  5.31292099],
       [ 3.5100497 ,  1.46070793,  1.16818647, ...,  5.06881454,
        10.29829065,  6.17809231],
       ...,
       [ 3.62946245,  1.55151544,  1.2773328 , ...,  4.97995745,
        10.50281221,  6.03834387],
       [ 3.61988128,  1.3774844 ,  1.20242668, ...,  5.56799933,
        11.41741689,  7.19168887],
       [ 3.57961912,  1.53481394,  1.17068284, ...,  4.866925  ,
         9.68332848,  5.55113504]])

In [47]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [44]:
r2 = r2_score(test_y,a)

In [45]:
print("The R2 socre is: ",r2)

0.01363550759043695

In [48]:
mse = mean_squared_error(test_y,a)

In [49]:
mse

5.732984094046189